<div class="admin-dashboard-container">
    <aside class="admin-sidebar">
      <h2>Admin Navigation</h2>
      <ul>
        <li><a routerLink="restaurants" routerLinkActive="active">Restaurant Management</a></li>
        <li><a routerLink="menu" routerLinkActive="active">Menu Management</a></li>
        <li><a routerLink="delivery" routerLinkActive="active">Delivery Status</a></li>
        </ul>
    </aside>
    <main class="admin-content">
      <router-outlet></router-outlet> </main>
  </div>